@model IEnumerable<coursework_db_mvc_cf.Models.DB.Адрес>

@{
    ViewBag.Title = "Index";
}

<h2>Список адресов</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Страна)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Город)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Страна)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Город)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.ИД }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.ИД })
                </td>
            </tr>
        }
    </tbody>
</table>
